.search-container{
    display: flex;
    max-width: 80%;
}

.search-container input{
    width: 60%;
    height: 30px;
    background-color: #d6f8d7;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.search-container img{
    padding: 40px 30px;
    width: auto;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.filter-dropdown{
    height: 35px;
    width: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #d6f8d7;
}

.search-container img:hover{
    transform: scale(1.4);
}


.auction-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

.auction-item {
    text-align: center;
    width: 30%;
    min-width: 250px; /* Prevents items from shrinking too much */
    min-height: 250px;
    background-color: #ffffff;
    border: 1px solid #c8e6c9;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.placebid {
    background-color: #4caf50; /* Green button */
    color: white;
    font-size: medium;
    border: #388e3c solid 1px;
    width: 30%;
    height: 50px;
    cursor: pointer;
    border-radius: 45px;
    margin-top: 45px;
    transition: transform 0.5s ease;
}

.placebid:hover {
    transform: scale(1.05) translateY(-10px);
    background-color: #388e3c; /* Darker green on hover */
    border-radius: 45px; /* Rounded corners on hover */
}

