body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f5e9; /* Light green background */
}


nav {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center items horizontally */
    background-color: #4caf50; /* Green background for navigation */
    padding: 25px 0 ; /* Padding for top and bottom */
    width: 100%;
    margin-bottom: 40px;
    
}

main {
    margin-left: 30px;
    margin-right: 30px;
}

nav ul {
    display: flex; /* Make the list a flex container */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

nav ul li {
    margin: 0 35px; /* Space between navigation items */
}

nav ul li a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Padding around links */
    transition: background-color 0.3s; /* Smooth background change on hover */
}

nav ul li a:hover {
    background-color: #388e3c; /* Darker green on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

nav ul li a:active {
    background-color: green; /* Changes color when clicked */
}